/*h1 {
  color: blue;
}

p {

  color: blueviolet;
}

button {
  color: magenta;
  background-color: cyan;
}
*/
h1 {
  text-align: center;
  font-weight: normal;
  text-decoration: underline wavy;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
}