<%- include('partials/head') %>

  <body>
    <h1>Your random number is: <%= num %>
        <% if (num % 2===0){ %>
          <h2>This is an even number</h2>
          <% } else { %>
            <h2>This is an odd number</h2>
            <% } %>
    </h1>
  </body>

  </html>