<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit product</title>
</head>

<body>
  <h1>Edit product</h1>
  <form action="/products/<%= product._id %>?_method=PUT" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="product name" value="<%= product.name %>">
    <label for="price">Price</label>
    <input type="number" name="price" id="price" placeholder="price" value="<%= product.price %>">
    <label for="category">Select category</label>
    <select name="category" id="category">
      <option value="fruit">fruit</option>
      <option value="vegetable">vegetable</option>
      <option value="dairy">dairy</option>
    </select>
    <button>Submit</button>
  </form>
  <a href="/products/<%= product._id %>">Cancel</a>
</body>

</html>